body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: sans-serif;
}

.content{
	display: flex;
	background-color: #242424;
	color: #fff;
}

.navbar{
	position: absolute;
	height: 89vh;
	width: 180px;
	background-color: #1c1c1c;
	padding: 10px;
	color: #adadad;
	overflow-y: scroll;
}

.nav-content{
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.nav-topic{
	align-items: stretch;
	padding: 10px;
}

.nav-link{
	text-decoration: none;
	color: #adadad;
}

.nav-topic li{
	padding: 8px;
}

.nav-topic i{
	font-size: 1.5rem;
}

.nav-separator{
	width: 90%;
	border-top: 0.3px solid #adadad;
}

.main-top{
	position: relative;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid white;
}

.main{
	padding: 10px;
	margin-left: 200px;
	margin-right: 260px;
	height: 89vh;
	width: calc(100vw - 400px);
}

.friends{
	position: absolute;
	height: 89vh;
	width: 240px;
	background-color: #1c1c1c;
	padding: 10px;
	color: #adadad;
	overflow-y: scroll;
	right: 0;
}

.friend{
	display: flex;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-friend{
	width: 40px;
	height:40px;
	border-radius: 10px;
	margin: 14px;
}

.info-friend p, h4{
	margin: 2px;
}

.find-friend{
	text-align: center;
	border: 1px solid white;
	border-radius: 30px;
	text-align: center;
}

.footer{
	height: 11vh;
	border-top: solid 1px black;
	background-color: #2e2e2e;
}

::-webkit-scrollbar{
	width: 16px;
	background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb{
	background-color: #8f8f8f;
}

::-webkit-scrollbar-button:single-button {
	background-color: #1c1c1c;
	display: block;
	border-style: solid;
	height: 13px;
	width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
	border-color: #777777 transparent transparent transparent;
}