body, html{
	height: 100vh;
	padding: 0;
	margin: 0;
}

body{
	color: #8a8a8a;
	font-family: 'Open-sans', sans-serif;
	font-size: 15px;
}	

a{
	text-decoration: none;
	color: #8a8a8a;
	transition: 300ms;

}

a:hover{
	color: white;
}

#footer-play{
	font-size: 2rem;
}

.page{
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}

.content{
	display: flex;
}

.navbar{
	width: 220px;
	height: 88vh;
	background-color: #121212;
	overflow: hidden;
	border-right: 0.5px solid #141414;
}

.img-nav{
	position: relative;
	display: flex;
	font-size: 1.5rem;
	padding: 20px 0;
	align-items: center;
}

.img-nav-icon{
	padding: 0 20px;
	font-size: 2.4rem;
}

.nav-menu{

}

.nav-menu ul, .playlists-list ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-menu ul li{
	padding: 5px 20px;
	display: flex;
	align-items: center; 
}

.menu-list-icon{
	font-size: 1.8rem;
	margin-right: 20px;
}

.menu-list-icon{
	font-size: 1.4rem;
}

.nav-playlists{
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	padding-top: 20px;
}

.playlists-text{
	padding: 10px 0px;
}

.playlists-topside{
	display: flex;
	flex-direction: column;
}

.new-playlist, .liked-songs{
	display: flex;
	align-items: center;
	padding: 5px 0px;
}

.playlists-topside-icon{
	font-size: 1.5rem;
	margin-right: 20px;
}

.playlists-list{
	padding: 10px 0;
	max-height: 170px;
	overflow-y: scroll;
}

.playlists-list ul li{
	padding: 10px 0;
}

.install-app{
	height: 45px;
}

.install-app{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.install-app-content{
	display: flex;
	align-items: center;
	padding: 0 20px;
	padding: auto 20px;
}

.install-app-icon{
	margin-right: 14px;
}

.main{
	background-color: #212121;
	height: 88vh;
	width: calc(100vw - 220px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.menu-top{
	width: 100%;
	margin: 0;
	padding:0;
	height: 60px;
}

.menu-top-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(015, 015, 015, 0.7);
	padding: 0 30px 0 10px;
}

.navigation-buttons{
	padding: 10px;
	min-width: 93px;
}

.navigation-buttons i{
	font-size: 1.5rem;
	padding: 5px;
	margin-right: auto;
}

.navigation-buttons i:hover{
	font-size: 1.52rem;
	color: #d1d1d1;
}

.menu-top-rightside{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}

.upgrade-button{

}

.upgrade-button button{
	background-color: #121212;
	color: white;
	border: 1px #fff solid;
	border-radius: 30px;
	font-size: 1rem;
	padding: 5px 30px;
}

.upgrade-button button:hover{
	font-size: 1.05rem;
}

.user-button{
	font-size: 0.95rem;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	background-color: #000;
	padding: 2px 10px 2px 2px;
}

.user-button:hover{
	background-color: #2b2b2b;
}

.user-button img{
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	margin: 0 5px 0 0;
}

.user-button i{
	color: white;
	font-size: 1.1rem;
}

.user-text{
	color: white;
	margin-right: 5px;
}

.main-content{
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.main-section{
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.section-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

.section-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.section-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #303030;
	border-radius: 0.5rem;
	margin: 10px;
	padding: 20px;
	min-width: 150px;
}

.section-item:hover{
	transition: 0ms;
}

.section-item:hover .item-text{
	width: 5.4rem;
}

.section-item:hover .item-play-box{
	display: block;
}

.item-bottom{
	display: flex;
	align-items: flex-end;
}

.item-text{
	display: flex;
	flex-direction: column;
	width: 8rem;
	margin: 10px 0;
}

.item-text p{
	margin: 0;
}

.img-section-item{
	width: 8rem;
	height: 8rem;
}

.item-play{
	color: white; 
	background-color: green; 
	padding: 0.8rem; 
	border-radius: 1.2rem; 
	font-size: 1rem;
}

.item-play-box{
	display: none;
}

.footer{
	background-color: #363636;
	height: 12vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.footer-content{
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-leftside{
	display: flex;
	align-items: center;
}

.footer-leftside img{
	height: 3rem;
	width: 3rem;
}

.footer-leftside-text{
	display: flex;
	flex-direction: column;
	margin: 0 30px 0 10px;
}

.footer-leftside-artist{
	font-size: 0.8rem;
	margin-top: 5px;
}

.footer-leftside a:hover, .section-top a:hover{
	color: #fff;
	text-decoration: underline;
}

.footer-leftside p{
	margin: 0;
}

.footer-leftside i{
	margin-left: 5px;
}

.footer-leftside i:hover{
	color: #fff;
}

.footer-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-buttons{
	display: flex;
	align-items: center;
}

.player-buttons i{
	padding: 0 10px;
	font-size: 0.8rem;
}

.player-bar{
	display: flex;
	align-items: center;
}

.player-bar hr{
	margin: 0 10px;
	width: 250px;
}

.footer-rightside{
	display: flex;
	align-items: center;	
}

.footer-rightside i{
	margin: 0 10px;
}

.footer-rightside i:hover{
	color: #fff;
}

.footer-volume{
	display: flex;
	align-items: center;
}

.text-white{
	color: #fff;
}

::-webkit-scrollbar{
	width: 16px;
	background-color: #121212;
}

::-webkit-scrollbar-thumb{
	background-color: #8a8a8a;
	transition: 300ms;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #d1d1d1;
}